body{
    margin: 0;
    padding: 0;
}
.u{
    margin:0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul {
    list-style-type: none;
    background-color: blanchedalmond;
    color: black;
}

ul li{
        font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
}
ul li:hover{
    background-color: green;
    color:white;
}
ul img{
    margin: 8px;
    height: 100px;
    width:  100px;
}
.dropdown{
    display: none;
}
ul li:hover .dropdown {
    display: block;
    position: absolute;
    margin-left: -0.53cm;
    margin-top: 0.52cm ;
    
}
.dropdown ul{
    margin: 0;
    padding: 0;
}
.dropdown ul li{
    display: block;
}
.head_image img {
    height:600px;
    width:100vw;
}
.heading h1{
    font-weight: 600px;
    display: flex;
    justify-content: center;
    color:rgb(5, 84, 117);
    font-size: 50px;

}
.place_section {
    display: flex;
    justify-content: space-around;
    

}

.pls img {
    height:320px;

}
.place_name  {
    display: flex;
    justify-content: space-around;
    font-size: 45px;
    color:rgb(5, 84, 117);
    font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-decoration: none;
    
    

}
.pls_nm a {
    text-decoration: none;
}